<div class="body">
    <div class="login-form">
        <div class="d-flex justify-content-center">  
            <form class="col-xl-8">
                <h4 class="modal-title mb-5">Sign up Your Account</h4>
                <div class="row text-left">
                    <div class="col form-group">
                        <label>Firstname</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col form-group">
                        <label>Lastname</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col form-group">
                        <label>Email</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="row text-left">
                    <div class="col form-group">
                        <label>Mobile</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col form-group">
                        <label>Location</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col form-group">
                        <label>Password</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="row text-left  mb-5">
                    <div class="col form-group">
                        <label>Confirm Password</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col form-group">
                        <label>Mode</label><br>&nbsp;
                        <input type="radio" name="mode">&nbsp;Company&nbsp;
                        <input type="radio" name="mode">&nbsp;Individual
                    </div>
                </div>
                <input type="submit" class="btn btn-primary" value="Register">       
                <div class="text-center mt-3">
                    <p>Already Registerd?</p>
                    <a href="#" class="text-center" routerLink="/formsLogin">Login</a>
                </div>          
            </form>	
        </div>		
    </div>
  </div>