<div class="card-header bg-white">
    <h5 class="mb-0">Create Employee</h5>
</div>
<div class="container rounded bg-white mb-5">
    <div class="row mt-3">
        <div class="col form-group">
            <label>Firstname</label>
            <input type="text" class="form-control">
        </div>
        <div class="col form-group">
            <label>Lastname</label>
            <input type="text" class="form-control">
        </div>
        <div class="col form-group">
            <label>Mobile</label>
            <input type="text" class="form-control">
        </div>
        <div class="col form-group">
            <label>Email</label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col form-group">
            <label>AddressLine1</label>
            <input type="text" class="form-control">
        </div>
        <div class="col form-group">
            <label>AddressLine2</label>
            <input type="text" class="form-control">
        </div>
        <div class="col form-group">
            <label>State</label>
            <input type="text" class="form-control">
        </div>
        <div class="col form-group">
            <label>District</label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col form-group">
            <label>Country</label>
            <input type="text" class="form-control">
        </div>
        <div class="col form-group">
            <label>City</label>
            <input type="text" class="form-control">
        </div>
        <div class="col form-group">
            <label>Pincode</label>
            <input type="text" class="form-control">
        </div>
        <div class="col form-group">
            <label>Education</label>
            <select class="form-control">
                <option>Degree</option>
                <option>HSC</option>
                <option>SSLC</option>
            </select>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col form-group">
            <label>AadhaarNumber</label>
            <input type="text" class="form-control">
        </div>
        <div class="col form-group">
            <label>AadhaarUpload</label>
            <input type="file" class="form-control">
        </div>
        <div class="col form-group">
            <label>Pannumber</label>
            <input type="text" class="form-control">
        </div>
        <div class="col form-group">
            <label>Pancard</label>
            <input type="file" class="form-control">
        </div>
    </div>
    <div class="text-center mt-5">
        <button class="btn btn-success">Submit</button>
    </div>
</div>