<div class="card-header bg-white">
    <h5 class="mb-0">Create Vehicle</h5>
</div>
<div class="container rounded bg-white mb-5">
    <div class="row mt-3">
        <div class="col form-group">
            <label>Firstname</label>
            <input type="text" class="form-control">
        </div>
        <div class="col form-group">
            <label>Lastname</label>
            <input type="text" class="form-control">
        </div>
        <div class="col form-group">
            <label>Mobile</label>
            <input type="text" class="form-control">
        </div>
        <div class="col form-group">
            <label>Email</label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col form-group">
            <label>AddressLine1</label>
            <input type="text" class="form-control">
        </div>
        <div class="col form-group">
            <label>AddressLine2</label>
            <input type="text" class="form-control">
        </div>
        <div class="col form-group">
            <label>State</label>
            <input type="text" class="form-control">
        </div>
        <div class="col form-group">
            <label>District</label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col form-group">
            <label>Country</label>
            <input type="text" class="form-control">
        </div>
        <div class="col form-group">
            <label>City</label>
            <input type="text" class="form-control">
        </div>
        <div class="col form-group">
            <label>Pincode</label>
            <input type="text" class="form-control">
        </div>
        <div class="col form-group">
            <label>LicenseType</label>
            <select class="form-control">
                <option>Heavy</option>
                <option>Light</option>
            </select>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col form-group">
            <label>LicenseNumber</label>
            <input type="text" class="form-control">
        </div>
        <div class="col form-group">
            <label>LicenseUpload</label>
            <input type="file" class="form-control">
        </div>
        <div class="col form-group">
            <label>Pannumber</label>
            <input type="text" class="form-control">
        </div>
        <div class="col form-group">
            <label>Pancard</label>
            <input type="file" class="form-control">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col form-group">
            <label>VehicleNumber</label>
            <input type="text" class="form-control">
        </div>
        <div class="col form-group">
            <label>RCbook</label>
            <input type="file" class="form-control">
        </div>
        <div class="col form-group">
            <label>ChasisNumber</label>
            <input type="text" class="form-control">
        </div>
        <div class="col form-group">
            <label>Insurace</label>
            <input type="file" class="form-control">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col form-group">
            <label>InsuranceFrom</label>
            <input type="date" class="form-control">
        </div>
        <div class="col form-group">
            <label>InsuranceEnd</label>
            <input type="date" class="form-control">
        </div>
        <div class="col form-group">
            <label>InsuranceNumber</label>
            <input type="text" class="form-control">
        </div>
        <div class="col form-group">
            
        </div>
    </div>
    <div class="text-center mt-5">
        <button class="btn btn-success">Submit</button>
    </div>
</div>