<div class="container rounded bg-white mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><span class="ml-5"><input type="file" (change)="handleInputChange($event)"></span><img class="rounded-circle mt-5" width="150px" src="{{imageSrc}}"><span class="font-weight-bold">Edogaru</span><span class="text-black-50">edogaru@mail.com.my</span><span> </span></div>
        </div>
        <div class="col-md-9 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-5">
                    <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control" placeholder="First name" value=""></div>
                    <div class="col-md-6"><label class="labels">Surname</label><input type="text" class="form-control" value="" placeholder="Surname"></div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-6"><label class="labels">Mobile Number</label><input type="text" class="form-control" placeholder="Enter phone number" value=""></div>
                    <div class="col-md-6"><label class="labels">Email</label><input type="text" class="form-control" placeholder="Enter Email" value=""></div>
                 </div>   
                 <div class="row mt-5">
                    <div class="col-md-6"><label class="labels">Document</label><input type="file" class="form-control"></div>
                    <div class="col-md-6"><label class="labels">Document Number</label><input type="text" class="form-control" placeholder="Enter Document Number" value=""></div>
                 </div> 
                 <div class="row mt-5">
                    <label>Address</label>
                    <textarea class="col-md-12" class="form-control" placeholder="Address" rows="6"></textarea>
                </div> 
                <div class="row mt-5">
                    <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" placeholder="country" value=""></div>
                    <div class="col-md-6"><label class="labels">State/Region</label><input type="text" class="form-control" value="" placeholder="state"></div>
                </div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div>
            </div>
        </div>
    </div>
</div>